<!--base.html-->
<!doctype html>

<html>

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--taking this away breaks the top nav bar-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-top.css')}}">

    <!--taking these two away breaks the bottom nav bar-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav-bottom.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--icons link-->
    <script src="https://kit.fontawesome.com/6bf07408f9.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-top-2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}">


</head>

<!--sidebar-->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">

    <button class="w3-bar-item w3-button w3-large" style="background-color: rgb(187, 185, 185)"
        onclick="w3_close()">Close
        &times;</button>
    <div style="border-bottom: 1px solid black;padding-top: 20px;background-color: #f1bb57" align="middle">
        <img class="w3-circle" src="{{ url_for('static', filename='img/lion.png')}}" style="max-width:30%;" alt="Lion">
        <h3>Track n Trace</h3>
    </div>
    <a href="{{ url_for('about') }}" class="w3-bar-item w3-button">About</a>
    <a href="#" class="w3-bar-item w3-button">System Status</a>
    <a href="#" class="w3-bar-item w3-button">Map</a>

</div>
<!--end of sidebar-->

<!--top navbar-->
<div class="top-navbar">
    <button class="w3-bar-item w3-button w3-xxlarge w3-hover-theme" onclick="w3_open()">&#9776;</button>
    <!--search bar begins here-->

    <form>
        <div class="" style="padding-left: 3px">
            <input class="search-control" name="search" placeholder="Search Here" autocomplete="off"
                autofocus="autofocus" type="text">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>

    <!--Search bar ends here-->
</div>
<!--end of top navbar-->

{% block content %}{% endblock %}

<!--bottom navbar begins here-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">

    <div class="mobile-bottom-bar">
        <a href="{{ url_for('orders') }}" class="footer-link">
            <i class="fas fa-list fa-3x"></i> <span class='footer-text'><br>Orders</span>
        </a>
        <a href="{{ url_for('late') }}" class="footer-link">
            <i class="fas fa-clock fa-3x"></i> <span class='footer-text'><br>Late</span>
        </a>
        <a href="{{ url_for('si') }}" class="footer-link">
            <i class="fas fa-exclamation-circle fa-3x"></i> <span class='footer-text'><br>SI</span>
        </a>
    </div>
</nav>


<script>

    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>


</html>