<!-- detail.html -->
{% extends 'base.html' %}

{% block content %}


<div align="middle" style="padding-top:100px">
    <i class=" fas fa-check-circle fa-2x" style="color:green"></i>
    <h3 style="font-weight:bold">{{site}}</h3>
</div>

<div class="w3-container" align="middle" style="color:grey;padding-bottom:70px">
    <!-- the below works ok but with green text, not sure how to get rid of that
    <div class="w3-cell w3-container">
        <h3 class=" fas fa-check-circle fa-2x" style="float:left;color:green">Caltex Midway Point</h3>
    </div>
    -->

    <body>
        <h5>Order Status</h5>
        <p>{{status}}</p>
        <h5>Order No</h5>
        <p>{{order}}</p>
        <h5>Address</h5>
        <p>{{address}}</p>
        <h5>Suburb</h5>
        <p>{{suburb}}</p>
        <h5>State</h5>
        <p>{{state}}</p>
        <h5>Delivery Time</h5>
        <p>{{delivery_time}}</p>
        <h5>Customer Window</h5>
        <p>{{cus_window}}</p>
        <h5>Signed By</h5>
        <p>{{signed_by}}</p>
        <h5>Delivery To Window</h5>
        <p>{{to_window}}</p>
        <h5>Delivery Instructions</h5>
        <p>{{del_instructions}}</p>
        <h5>SI Code</h5>
        <p>{{si_code}}</p>
    </body>

</div>


{% endblock %}