<!-- detail.html -->
{% extends 'base.html' %}

{% block content %}


<div align="middle" style="padding-top:100px">
    <i class=" fas fa-check-circle fa-2x" style="color:green"></i>
    <h3 style="font-weight:bold">Midway Point</h3>
</div>

<div class="w3-container" align="middle" style="color:grey;padding-bottom:70px">
    <!-- the below works ok but with green text, not sure how to get rid of that
    <div class="w3-cell w3-container">
        <h3 class=" fas fa-check-circle fa-2x" style="float:left;color:green">Caltex Midway Point</h3>
    </div>
    -->

    <body">
        <h5>Order Status</h5>
        <p>PODed</p>
        <h5>Order No</h5>
        <p>0108226925</p>
        <h5>Address</h5>
        <p>123 Main St</p>
        <h5>Suburb</h5>
        <p>MELBOURNE</p>
        <h5>State</h5>
        <p>VIC</p>
        <h5>Delivery Time</h5>
        <p>01/01/2020 8:32pm</p>
        <h5>Customer Window</h5>
        <p>6:00pm-6:00am</p>
        <h5>Signed By</h5>
        <p>Wes</p>
        <h5>Delivery To Window</h5>
        <p>ON TIME</p>
        <h5>Delivery Instructions</h5>
        <p>Just do it</p>
        <h5>SI Code</h5>
        <p>Z02 Shit Happened</p>
        </body>
</div>


{% endblock %}