<!-- detail.html -->
{% extends 'base.html' %}

{% block content %}


<div align="middle" style="padding-top:120px">
    {% if status == 'PODed' and si_code == None %}
    <i class="fas fa-check-circle fa-2x" style="color:green"></i>
    {% elif status.endswith('LATE') %}
    <i class="fas fa-clock fa-2x" style="color:red"></i>
    {% elif si_code != None %}
    <i class="fas fa-check-circle fa-2x" style="color:orange"></i>
    {% else %}
    <i class="fas fa-check-circle fa-2x" style="color:green"></i>
    {% endif %}
    <!--<i class=" fas fa-check-circle fa-2x" style="color:green"></i>-->
    <h3 style="font-weight:bold">{{site}}</h3>
</div>

<div class="w3-container" align="middle" style="color:grey;padding-bottom:70px">
    <!-- the below works ok but with green text, not sure how to get rid of that
    <div class="w3-cell w3-container">
        <h3 class=" fas fa-check-circle fa-2x" style="float:left;color:green">Caltex Midway Point</h3>
    </div>
    -->

    <body>
        <h6>Order Status</h6>
        <p>{{status}}</p>
        <h6>Order No</h6>
        <p>{{order}}</p>
        <h6>Address</h6>
        <p>{{address}}</p>
        <h6>Suburb</h6>
        <p>{{suburb}}</p>
        <h6>State</h6>
        <p>{{state}}</p>
        <h6>Delivery Time</h6>
        <p>{{delivery_time}}</p>
        <h6>Customer Window</h6>
        <p>{{cus_window}}</p>
        <h6>Signed By</h6>
        <p>{{signed_by}}</p>
        <h6>Delivery To Window</h6>
        <p>{{to_window}}</p>
        <h6>Delivery Instructions</h6>
        <p>{{del_instructions}}</p>
        <h6>SI Code</h6>
        <p>{{si_code}}</p>
        <h6>View Online</h6>
        <a href="{{tnt_url}}">Click to View</a>
        {% if attachment1 %}
        <h6>Attachment 1</h6>
        <a href="{{attachment1}}">Click to View</a>
        {% endif %}
        {% if attachment2 %}
        <h6>Attachment 2</h6>
        <a href="{{attachment2}}">Click to View</a>
        {% endif %}
        {% if attachment3 %}
        <h6>Attachment 3</h6>
        <a href="{{attachment3}}">Click to View</a>
        {% endif %}
        {% if attachment4 %}
        <h6>Attachment 4</h6>
        <a href="{{attachment4}}">Click to View</a>
        {% endif %}



    </body>

</div>


{% endblock %}