<!-- index.html -->
{% extends 'base.html' %}

{% block content %}

<div class="w3-container" style="padding-top:60px;padding-bottom:70px;">

    <!-- starts here-->
    <hr>
    <a href="{{ url_for('detail') }}">
        <div class="w3-cell-row">
            <div class="w3-cell" style="width:10%">
                <i class="fas fa-check-circle fa-2x" style="float:left; margin-top:30px;color:green"></i>
            </div>
            <div class="w3-cell w3-container">
                <h3>Caltex Midway Point</h3>
                <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
            </div>
        </div>
    </a>
    <!-- Ends here-->
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-exclamation-circle fa-2x" style="float:left; margin-top:30px;color:red"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 1</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-check-circle fa-2x" style="float:left; margin-top:30px;color:green"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 2</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-clock fa-2x" style="float:left; margin-top:30px;color:red"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 3</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-check-circle fa-2x" style="float:left; margin-top:30px;color:orange"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 4</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-check-circle fa-2x" style="float:left; margin-top:30px;color:orange"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 5</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-clock fa-2x" style="float:left; margin-top:30px;color:red"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 6</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
</div>

{% endblock %}