<!-- index.html -->
{% extends 'base.html' %}

{% block content %}

<div class="w3-container" style="padding-top:45px;padding-bottom:70px;">

    <!-- starts here-->
    {% for row in query %}
    <hr>
    <a href="orders/{{row[1]}}">
        <div class="w3-cell-row">
            <div class="w3-cell" style="width:10%">
                <i class="fas fa-check-circle fa-2x" style="float:left; margin-top:30px;color:green"></i>
            </div>
            <div class="w3-cell w3-container">
                <h3>{{row['SiteName']}}</h3>
                <p style="text-align:left;">{{row['OrderNumber']}}<span style="float:right;">{{row['State']}}</span></p>
            </div>
        </div>
    </a>
    {% endfor %}

    <!-- Ends here-->

</div>

{% endblock %}