<!-- late.html -->
{% extends 'base.html' %}

{% block content %}

<div class="w3-container" style="padding-top:60px;padding-bottom:70px;">

    <!-- starts here-->
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-clock fa-2x" style="float:left; margin-top:30px;color:red"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Midway Point</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <!-- Ends here-->
    <hr>
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:10%">
            <i class="fas fa-clock fa-2x" style="float:left; margin-top:30px;color:red"></i>
        </div>
        <div class="w3-cell w3-container">
            <h3>Caltex Test Site 1</h3>
            <p style="text-align:left;">0108180911<span style="float:right;">VIC</span></p>
        </div>
    </div>
    <hr>



</div>

{% endblock %}